.container {
  min-height: 100vh;
  height: 100vh;
  background-color: var(--homebackground);
  color: #aaaaaa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container * {
  animation: opacities 1s;
  animation-fill-mode: forwards;
}

@keyframes opacities {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
