.blogPageContainer {
  background-color: var(--homebackground);
  color: white;
  min-height: 100vh;
  position: relative;
}

.blogPageContainer main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
  padding: 1rem;
}
.navbar {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar h1 {
  font-size: 2rem;
}

.linkComp {
  position: absolute;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .navbar {
    height: 11rem;
  }
  .navbar h1 {
    font-size: 3rem;
  }
  .linkComp {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }
  .linkComp img {
    width: 50px;
  }
}
