.worksPageContainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  background-color: var(--homebackground);
}

.linkComp {
  position: absolute;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .linkComp {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }
  .linkComp img {
    width: 50px;
  }
}